@import "tailwindcss";


/* Hide Google Translate's top banner */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

/* Hide unwanted iframe elements */  
/* .goog-logo-link,
.goog-te-gadget span{
  display: none !important;
}


.goog-te-gadget {
  color: transparent !important;
  font-size: 0 !important;
} */

/* Hide Google Translate's default dropdown */
.goog-te-combo {
  display: none !important;
}


/* Optional: Customize dropdown */
/* #google_translate_element select {   
  background-color: white;
  color: green-400;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
} */
